.countryCard {
  box-sizing: border-box;
  height: 130px;
  width: 130px;
  margin: 5px;
  background-image: linear-gradient(#52b3ce, #4c92a5, #52b3ce);
  box-shadow: 2px 2px 7px grey;
  color: white;
  text-align: center;
  font-size: 24px;
  padding-top: 35%;
  transition: box-shadow 0.2s, color 0.2s;
}

.countryCard:hover {
  box-shadow: none;
  color: #eed675;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.countryCard .textCard {
  color: white;
  text-align: center;
  font-size: 24px;
  padding-top: 40%;
}

.link {
  text-decoration: none;
}