.buttonSort {
  background-color: #20809B;
  border-bottom: 1px solid #0e3064;
  border-left: 1px solid #0e3064;
  border-right: 1px solid #0e3064;
  text-align: center;
  color: white;
  width: 130px;
  height: 40px;
  border-collapse: collapse;
}

.buttonSort:hover, .buttonDefault:hover {
  background-color: #47bbdb;
}

.buttonDefault {
  background-color: #20809B;
  border-bottom: 1px solid rgb(14, 48, 100);
  border-left: 1px solid rgb(14, 48, 100);
  border-right: 1px solid rgb(14, 48, 100);
  text-align: center;
  color: white;
  width: 260px;
  height: 40px;
}