.pageStructure {
  display: flex;
  flex-direction: column;

}

.footer {
  position: fixed;
  padding: 0px 0px 0px 0px;
  bottom: 0;
  width: 100%;
}

.content {
  align-self: center;
  margin-bottom: 50px;
}

.header {
  flex: 1 0 auto;
}