table {
  border: 1px solid #0E5466;
  border-collapse: collapse;
}

tr {
  border-collapse: collapse;
}

td {
  border: 1px solid #0E5466;
  color: #606972;
  text-align: right;
  width: 20%;
}

.table {
  margin-top: 20px;
  margin-bottom: 20px;
}



.tdCenter {
  text-align: center;
}

.tdName {
  width: 30%;
}

.tdNumber {
  width: 10%;
}

.tdCases {
  width: 25%;
}

.tdDeaths {
  width: 20%;
}

.tdMillions {
  width: 15%;
}
