.countryCard {
  border: 2px solid #3d95ad;
  height: 130px;
  width: 130px;
  margin: 5px;
  background-image: linear-gradient(#52b3ce, #39869b, #52b3ce);
  box-shadow: 2px 2px 7px grey;
}

.countryCard:hover {
  border: 2px solid #a8e2f1;
  background-image: linear-gradient(#65c2db, #337b8f, #65c2db);
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.countryCard .textCard {
  color: white;
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  padding-top: 40%;
}

.textCard a{
  text-decoration: none;
}

.countryCard .textCard:hover {
  font-size: 26px;
  color: #eed675;
}

.link {
  text-decoration: none;
}